body { 
    background-image: url(/images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.huddle-logo {
    width: 180px;
    padding-top: 2rem;
    padding-right: 0;
    padding-left: 3rem;
}


.container {
    max-width: 100%;
    max-height: 100%;
    padding-top: 5%;
    padding-right: 5%;
}


.illustration {
    max-width: 70%;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    float:left;

}


#headline {   
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: left; 
    padding-bottom: 10px;
    
}


#paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    text-align: left;
    line-height: 1.5;
}


.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    border: none;
    color: hsl(257, 40%, 49%);
    padding: 15px 70px;
    text-decoration: none;
    display: inline-block;
    margin: 4% 3% 4% 0%;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}



.button:hover {
    color: #f5f5f5;
    background-color: hsl(300, 69%, 71%) ;
}



.social-media {
    text-align:right; 
    padding-top: 2rem;
    padding-right: 3rem;
}


.facebook-icon, .twitter-icon, .instagram-icon {
    width: 35px;
    height: 35px;
    margin: 10px 5px;
}


.facebook-icon:hover{
    color: #f5f5f5;
    background-color: hsl(300, 69%, 71%) ;
    border-radius: 30px;
    cursor: pointer;
}


.twitter-icon:hover{
    color: #f5f5f5;
    background-color: hsl(300, 69%, 71%) ;
    border-radius: 30px;
    cursor: pointer;
}


.instagram-icon:hover{
    color: #f5f5f5;
    background-color: hsl(300, 69%, 71%) ;
    border-radius: 11px;
    cursor: pointer;
}



.footer {
    font-family: monospace;
    text-align: center;
}



a {
    text-decoration: none;
    color: #27296d;
}



@media (max-width:500px){  
    body{  
    background-image: url("/images/bg-mobile.svg");
}


.huddle-logo{
    width: 150px;
    margin-bottom: 1rem;
}


.illustration {
    max-width: 70%;
}

.img {
    max-width: 110%;
    padding-bottom: 2rem;
}



#headline {
    margin-left: 1.5rem;
    text-align: center;
}


#paragraph {
    margin-left: 2rem;
    text-align: center;
}



.button {
    margin-left: 8.5rem;
    margin-bottom: 3px;
}


.social-media {
    margin-right: 7rem;
}

}